Sales/Automate_Gym_Lead_Nurturing_with_Facebook_Ads_WhatsApp_Google_Sheets_Tracking.json
{
  "id": "jjh7DW2zjntkc8HX",
  "meta": {
    "instanceId": "7b96b092d810c2802f78805c0ebb75731d1fee5ea94ed15e682859bc5660ae38"
  },
  "name": "My workflow",
  "tags": [],
  "nodes": [
    {
      "id": "a7c57dfd-6b66-49cc-9e43-133b32bf378f",
      "name": "FB Lead Webhook",
      "type": "n8n-nodes-base.webhook",
      "position": [
        0,
        0
      ],
      "webhookId": "68d72cbe-1ea1-4f4d-8253-aa85f9650cae",
      "parameters": {
        "path": "fb-lead-webhook",
        "options": {},
        "httpMethod": "POST"
      },
      "typeVersion": 1
    },
    {
      "id": "5a625a58-bb3b-41fe-90fa-26418d322c42",
      "name": "Add to Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        200,
        0
      ],
      "parameters": {
        "range": "Sheet1!A:E",
        "options": {},
        "sheetId": "YOUR_SHEET_ID",
        "operation": "append"
      },
      "typeVersion": 1
    },
    {
      "id": "3dc92c8a-3a0a-4df6-9123-2710761c112c",
      "name": "Send WhatsApp to Lead",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        460,
        0
      ],
      "parameters": {
        "url": "https://api.ultramsg.com/instanceXXXX/messages/chat",
        "options": {},
        "jsonParameters": true
      },
      "typeVersion": 1
    },
    {
      "id": "5aa94b38-440e-4d5f-b201-2d7b7f061e91",
      "name": "Check Booking Status",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        1480,
        480
      ],
      "parameters": {
        "range": "Sheet1!A:E",
        "options": {},
        "sheetId": "YOUR_SHEET_ID",
        "operation": "lookup",
        "lookupValue": "={{$json[\"phone\"]}}",
        "lookupColumn": "B"
      },
      "typeVersion": 1
    },
    {
      "id": "5bb1f128-bb64-48c8-831d-4ef6cb729d35",
      "name": "If Booked?",
      "type": "n8n-nodes-base.if",
      "position": [
        740,
        0
      ],
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json[\"3\"]}}",
              "value2": "Booked",
              "operation": "equals"
            }
          ]
        }
      },
      "typeVersion": 1
    },
    {
      "id": "60f0284b-74da-41de-9720-561923a838e5",
      "name": "Send Confirmation to Lead",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        1860,
        180
      ],
      "parameters": {
        "url": "https://api.ultramsg.com/instanceXXXX/messages/chat",
        "options": {},
        "jsonParameters": true
      },
      "typeVersion": 1
    },
    {
      "id": "a6de4bb6-8886-41f4-93ff-c293415077fc",
      "name": "Notify Gym Owner",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        1820,
        640
      ],
      "parameters": {
        "url": "https://api.ultramsg.com/instanceXXXX/messages/chat",
        "options": {},
        "jsonParameters": true
      },
      "typeVersion": 1
    },
    {
      "id": "c85a9561-c906-4c33-a12b-4e857ff10a90",
      "name": "Check Booking Day 1",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        340,
        260
      ],
      "parameters": {
        "range": "Sheet1!A:F",
        "options": {},
        "sheetId": "your-google-sheet-id"
      },
      "typeVersion": 1
    },
    {
      "id": "5c068bec-391d-4b70-af1e-2eca290357c2",
      "name": "Send WhatsApp Day 1",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        560,
        260
      ],
      "parameters": {
        "url": "https://api.twilio.com/2010-04-01/Accounts/YOUR_ACCOUNT_SID/Messages.json",
        "options": {},
        "authentication": "basicAuth",
        "jsonParameters": true
      },
      "typeVersion": 1
    },
    {
      "id": "aec0b5b2-8c27-44dc-ac06-aa9706703bbe",
      "name": "Wait Day 2",
      "type": "n8n-nodes-base.wait",
      "position": [
        80,
        500
      ],
      "webhookId": "658b194e-3b67-4766-8fb0-a9ab7c626207",
      "parameters": {
        "unit": "days"
      },
      "typeVersion": 1
    },
    {
      "id": "73c855b2-87f9-4d54-9f35-af73571e5b22",
      "name": "Check Booking Day 2",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        320,
        500
      ],
      "parameters": {
        "range": "Sheet1!A:F",
        "options": {},
        "sheetId": "your-google-sheet-id"
      },
      "typeVersion": 1
    },
    {
      "id": "571bd904-1611-40f9-a70b-3d3d91d59ee3",
      "name": "Send WhatsApp Day 2",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        620,
        500
      ],
      "parameters": {
        "url": "https://api.twilio.com/2010-04-01/Accounts/YOUR_ACCOUNT_SID/Messages.json",
        "options": {},
        "authentication": "basicAuth",
        "jsonParameters": true
      },
      "typeVersion": 1
    },
    {
      "id": "30a971b2-17e3-47fe-ba52-75582f6a4a7f",
      "name": "Wait Day 3",
      "type": "n8n-nodes-base.wait",
      "position": [
        80,
        720
      ],
      "webhookId": "176f47b4-3ffe-4c69-b983-4c4e1349d998",
      "parameters": {
        "unit": "days"
      },
      "typeVersion": 1
    },
    {
      "id": "db4ad905-1231-4aaa-a368-18aa3866add0",
      "name": "Check Booking Day 3",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        320,
        720
      ],
      "parameters": {
        "range": "Sheet1!A:F",
        "options": {},
        "sheetId": "your-google-sheet-id"
      },
      "typeVersion": 1
    },
    {
      "id": "24a82e04-81fa-44f9-9c24-7e51a6b5c4b6",
      "name": "Send WhatsApp Day 3",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        620,
        720
      ],
      "parameters": {
        "url": "https://api.twilio.com/2010-04-01/Accounts/YOUR_ACCOUNT_SID/Messages.json",
        "options": {},
        "authentication": "basicAuth",
        "jsonParameters": true
      },
      "typeVersion": 1
    },
    {
      "id": "be16b0d3-b481-45f7-9f0e-1bd9e3705605",
      "name": "Wait Day 4",
      "type": "n8n-nodes-base.wait",
      "position": [
        160,
        940
      ],
      "webhookId": "a540fa94-5543-42a4-9be2-6f4d473d2b37",
      "parameters": {
        "unit": "days"
      },
      "typeVersion": 1
    },
    {
      "id": "ab72df9e-14c9-49e7-ab10-4c53ddd29bb1",
      "name": "Check Booking Day 4",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        380,
        940
      ],
      "parameters": {
        "range": "Sheet1!A:F",
        "options": {},
        "sheetId": "your-google-sheet-id"
      },
      "typeVersion": 1
    },
    {
      "id": "de3c3a76-197a-4274-8525-68beb27a91ac",
      "name": "Send WhatsApp Day 4",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        600,
        940
      ],
      "parameters": {
        "url": "https://api.twilio.com/2010-04-01/Accounts/YOUR_ACCOUNT_SID/Messages.json",
        "options": {},
        "authentication": "basicAuth",
        "jsonParameters": true
      },
      "typeVersion": 1
    },
    {
      "id": "191b0875-9ca0-4c02-9d43-062ce9a17de9",
      "name": "Wait Day 5",
      "type": "n8n-nodes-base.wait",
      "position": [
        160,
        1180
      ],
      "webhookId": "edf9f6e6-5205-496a-a77d-3380f78f6032",
      "parameters": {
        "unit": "days"
      },
      "typeVersion": 1
    },
    {
      "id": "24675fcf-9b88-4663-95bd-e3ac42a18765",
      "name": "Check Booking Day 5",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        380,
        1180
      ],
      "parameters": {
        "range": "Sheet1!A:F",
        "options": {},
        "sheetId": "your-google-sheet-id"
      },
      "typeVersion": 1
    },
    {
      "id": "7b9bce28-6e9f-46c7-9c90-bcffe602d953",
      "name": "Send WhatsApp Day 5",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        600,
        1180
      ],
      "parameters": {
        "url": "https://api.twilio.com/2010-04-01/Accounts/YOUR_ACCOUNT_SID/Messages.json",
        "options": {},
        "authentication": "basicAuth",
        "jsonParameters": true
      },
      "typeVersion": 1
    },
    {
      "id": "406301d8-19bb-4a18-bc97-0872c5ebe96b",
      "name": "Wait 2 hrs",
      "type": "n8n-nodes-base.wait",
      "position": [
        100,
        260
      ],
      "webhookId": "069a166b-fc80-487d-bfd0-07418a3c1e72",
      "parameters": {
        "unit": "hours",
        "amount": 2
      },
      "typeVersion": 1.1
    },
    {
      "id": "a8ff777f-fc0b-406c-aecd-717dfcadc4bf",
      "name": "If",
      "type": "n8n-nodes-base.if",
      "position": [
        840,
        720
      ],
      "parameters": {
        "options": {},
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "456fa536-42df-4d4e-9164-91088adaf382",
              "operator": {
                "name": "filter.operator.equals",
                "type": "string",
                "operation": "equals"
              },
              "leftValue": "",
              "rightValue": ""
            }
          ]
        }
      },
      "typeVersion": 2.2
    },
    {
      "id": "2e7f867a-c6ce-4ed6-a6ea-221971163c0f",
      "name": "If1",
      "type": "n8n-nodes-base.if",
      "position": [
        820,
        500
      ],
      "parameters": {
        "options": {},
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "456fa536-42df-4d4e-9164-91088adaf382",
              "operator": {
                "name": "filter.operator.equals",
                "type": "string",
                "operation": "equals"
              },
              "leftValue": "",
              "rightValue": ""
            }
          ]
        }
      },
      "typeVersion": 2.2
    },
    {
      "id": "aa00dcd3-a3a5-4441-af94-76df1ae11b1c",
      "name": "If2",
      "type": "n8n-nodes-base.if",
      "position": [
        780,
        260
      ],
      "parameters": {
        "options": {},
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "456fa536-42df-4d4e-9164-91088adaf382",
              "operator": {
                "name": "filter.operator.equals",
                "type": "string",
                "operation": "equals"
              },
              "leftValue": "",
              "rightValue": ""
            }
          ]
        }
      },
      "typeVersion": 2.2
    },
    {
      "id": "68b645f7-88cb-4275-9ea8-51aa667a1762",
      "name": "If3",
      "type": "n8n-nodes-base.if",
      "position": [
        840,
        940
      ],
      "parameters": {
        "options": {},
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "456fa536-42df-4d4e-9164-91088adaf382",
              "operator": {
                "name": "filter.operator.equals",
                "type": "string",
                "operation": "equals"
              },
              "leftValue": "",
              "rightValue": ""
            }
          ]
        }
      },
      "typeVersion": 2.2
    }
  ],
  "active": false,
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "9d8245cf-5e53-456e-9858-7b85fb51ad4c",
  "connections": {
    "If": {
      "main": [
        [
          {
            "node": "Check Booking Status",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait Day 4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Check Booking Status",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait Day 3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "Check Booking Status",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait Day 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If3": {
      "main": [
        [
          {
            "node": "Check Booking Status",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait Day 5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Booked?": {
      "main": [
        [
          {
            "node": "Check Booking Status",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait 2 hrs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 2 hrs": {
      "main": [
        [
          {
            "node": "Check Booking Day 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait Day 2": {
      "main": [
        [
          {
            "node": "Check Booking Day 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait Day 3": {
      "main": [
        [
          {
            "node": "Check Booking Day 3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait Day 4": {
      "main": [
        [
          {
            "node": "Check Booking Day 4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait Day 5": {
      "main": [
        [
          {
            "node": "Check Booking Day 5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FB Lead Webhook": {
      "main": [
        [
          {
            "node": "Add to Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Booking Day 1": {
      "main": [
        [
          {
            "node": "Send WhatsApp Day 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Booking Day 2": {
      "main": [
        [
          {
            "node": "Send WhatsApp Day 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Booking Day 3": {
      "main": [
        [
          {
            "node": "Send WhatsApp Day 3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Booking Day 4": {
      "main": [
        [
          {
            "node": "Send WhatsApp Day 4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Booking Day 5": {
      "main": [
        [
          {
            "node": "Send WhatsApp Day 5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send WhatsApp Day 1": {
      "main": [
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send WhatsApp Day 2": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send WhatsApp Day 3": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send WhatsApp Day 4": {
      "main": [
        [
          {
            "node": "If3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add to Google Sheets": {
      "main": [
        [
          {
            "node": "Send WhatsApp to Lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Booking Status": {
      "main": [
        [
          {
            "node": "Send Confirmation to Lead",
            "type": "main",
            "index": 0
          },
          {
            "node": "Notify Gym Owner",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send WhatsApp to Lead": {
      "main": [
        [
          {
            "node": "If Booked?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}