NEW/Youtube_POP_Music (1).json
{
  "name": "Youtube POP Music",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        220,
        60
      ],
      "id": "12793543-0d94-4ca5-b4de-44542505b58a",
      "name": "When clicking ‘Test workflow’"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Music: {{ $('Get Promt').item.json.Genre }}. {{ $('Get Promt').item.json.Title }}. {{ $('Get Promt').item.json.Description }}",
        "options": {
          "systemMessage": "# Overview\nYou are an image hint wizard, specializing in creating detailed and high-quality hints for advanced image models such as Flux. Your job is to generate colorful, well-structured cues that accurately depict the poster for an instrumental music track.\n\n## Instructions:\n- Try to use images of people.\n- Clearly describe people's appearance, including clothing, accessories, and objects.\n- Specify attire and accessories that reflect the given style of music, ensuring that they blend naturally.\n- Include background details that enhance the style, creating a cohesive scene.\n- Use rich descriptive language to enhance visual authenticity.\n- Avoid generic terms - choose precise, figurative descriptions that maximize the effectiveness of the prompt.\n- Never put quotation marks (“”) or a newline (\\n).\n\n## Example \n- Input: Happy Island, relaxing chilout music\n\n- Output:\nA loving couple on a paradise island, a man and a woman, lying on lounge chairs and sunbathing. The man is wearing sunglasses, with a smile on his face, in his hand he has a glass of orange juice from an umbrella. He is wearing a palm tree shirt and yellow shorts. The woman is wearing a white swimsuit and a straw hat, she has a slight smirk on her face and sunglasses, a glass of champagne in her hand. There are palm trees and turquoise sea around, the atmosphere of relaxation and enjoyment of vacation.\n\n\n## IMPORTANT\n- All cues must be family friendly, no sensitive words should be used.\n- No mention of guns (even toy guns).\n- No mention of “showdowns” or violent events."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        1400,
        740
      ],
      "id": "09680206-6818-49a9-891a-07f75c335395",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-nano",
          "mode": "list",
          "cachedResultName": "gpt-4.1-nano"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1400,
        940
      ],
      "id": "1e9c361d-65de-4c53-b677-53ea315f55ac",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "QNtuRYYoFRBT1xNP",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.piapi.ai/api/v1/task",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"model\": \"Qubico/flux1-dev\",\n    \"task_type\": \"txt2img\",\n    \"input\": {\n        \"prompt\": \"{{ $json.output }}\",\n        \"width\": 1024, \n        \"height\": 576\n    } \n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1780,
        -100
      ],
      "id": "a256be82-d6b2-45ff-8f1c-4888615c4948",
      "name": "Generate Image",
      "credentials": {
        "httpHeaderAuth": {
          "id": "YvRFR3AaRj0NW5lj",
          "name": "PiAPI"
        }
      }
    },
    {
      "parameters": {
        "amount": 30
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1800,
        100
      ],
      "id": "48ec3120-6460-48a2-9dcb-1298f18f2eee",
      "name": "Wait",
      "webhookId": "c6f81714-db65-4350-8742-fdf861752df7"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "5c6966f7-b614-40ff-b058-07c909b916b2",
                    "leftValue": "={{ $json.data.status }}",
                    "rightValue": "failed",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "failed"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.data.status }}",
                    "rightValue": "completed",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "773658a2-2844-4ad3-b563-424cc3c0487f"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "completed"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "813e89af-082e-4424-b5a0-4dad1261f9e7",
                    "leftValue": "={{ $json.data.status }}",
                    "rightValue": "pending",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "pending"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "ec669e16-827e-40c2-9fe0-31801392086b",
                    "leftValue": "={{ $json.data.status }}",
                    "rightValue": "processing",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "processing"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        1900,
        280
      ],
      "id": "8c5bd19c-7bba-4805-a115-eeec3d842f71",
      "name": "Switch"
    },
    {
      "parameters": {
        "url": "=https://api.piapi.ai/api/v1/task/{{ $json.data.task_id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2000,
        100
      ],
      "id": "96c951b4-2f2e-4fd9-b157-c347048ab3f7",
      "name": "Check Status",
      "credentials": {
        "httpHeaderAuth": {
          "id": "YvRFR3AaRj0NW5lj",
          "name": "PiAPI"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.topmediai.com/v1/music",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "KEY"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "title",
              "value": "={{ $('If').item.json.Title }}"
            },
            {
              "name": "instrumental",
              "value": "1"
            },
            {
              "name": "prompt",
              "value": "={{ $('If').item.json.Promt }}"
            },
            {
              "name": "is_auto",
              "value": "1"
            }
          ]
        },
        "options": {
          "timeout": 300000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        220,
        540
      ],
      "id": "bdec79fd-abc4-4427-ad88-16217d379ea0",
      "name": "Generate Audio"
    },
    {
      "parameters": {
        "url": "={{ $json.data.output.image_url }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2200,
        360
      ],
      "id": "4b5abcad-c53e-4738-9c04-35bc74c2d76c",
      "name": "Get Image"
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "=/data/image.png",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        1800,
        560
      ],
      "id": "1b9c2eed-6d41-478b-b29a-875c77fca467",
      "name": "Write Image"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1U87CyDyvncf3Gbv5-GpyhwqOa1Lfckr0MAj-oysj92M",
          "mode": "list",
          "cachedResultName": "youtube music",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1U87CyDyvncf3Gbv5-GpyhwqOa1Lfckr0MAj-oysj92M/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Лист1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1U87CyDyvncf3Gbv5-GpyhwqOa1Lfckr0MAj-oysj92M/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Status",
              "lookupValue": "new"
            }
          ]
        },
        "options": {
          "returnFirstMatch": true
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        440,
        60
      ],
      "id": "d75e5fbd-bd68-43b8-81a6-ee8cba5665b7",
      "name": "Get Promt",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "9rj2VjbYgY0lGdyW",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "e092b7ab-9757-4e70-b6df-d34025173cfc",
              "leftValue": "={{ $json.Promt }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            },
            {
              "id": "7caea150-6cec-45a1-a915-c732a2ccd742",
              "leftValue": "={{ $json.Promt }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        220,
        300
      ],
      "id": "3f49ae4b-c4f5-4825-94b9-741301e39a8a",
      "name": "If"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "f2706bd3-2d39-4eba-b66e-40f669a2f7cd",
              "leftValue": "={{ $json.data[0].audio_file }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        680,
        540
      ],
      "id": "13965400-b75e-4021-b8be-eab10b128401",
      "name": "If1"
    },
    {
      "parameters": {
        "url": "={{ $json.data[0]?.audio_file ?? null }}{{ $('Get Promt').item.json.Audio ?? '' }}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        220,
        740
      ],
      "id": "8ec5595b-477d-43a2-ac06-8315f2cc69f6",
      "name": "Get Audio"
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "=/data/audio.mp3",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        680,
        740
      ],
      "id": "8a70bd63-de44-4b78-acd9-035f95c3eb30",
      "name": "Write Audio"
    },
    {
      "parameters": {
        "name": "={{ $('Generate Audio').item.json.data[0].title }}_{{ $now.format('yyyy-MM-dd') }}.mp3",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1Tu4qwX3IW4U9U0D7g3tM8jd3vTZQoMjj",
          "mode": "list",
          "cachedResultName": "content",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1Tu4qwX3IW4U9U0D7g3tM8jd3vTZQoMjj"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        220,
        960
      ],
      "id": "cc05b62e-b0d6-4406-acbc-a2a18af0374e",
      "name": "Google Drive Save Audio",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "Vd56QZ752VIuXrGs",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "name": "={{ $('Get Promt').item.json.Title ?? '' }}_{{ $now.format('yyyy-MM-dd') }}.png",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1Tu4qwX3IW4U9U0D7g3tM8jd3vTZQoMjj",
          "mode": "list",
          "cachedResultName": "content",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1Tu4qwX3IW4U9U0D7g3tM8jd3vTZQoMjj"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        2040,
        580
      ],
      "id": "a535897f-566e-4a09-a3cd-13c134fe3fbd",
      "name": "Google Drive Save Image",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "Vd56QZ752VIuXrGs",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "10290c13-e455-4059-9b02-011d1fa1cbf7",
              "leftValue": "={{ $json.exitCode }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2040,
        980
      ],
      "id": "24e456f6-28d8-4957-9650-0873d03d33b9",
      "name": "If2"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "6568492e-6c56-4858-8fd7-7d1e0fd68d15",
              "leftValue": "={{ $json.stdout }}",
              "rightValue": "exists",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2020,
        1200
      ],
      "id": "ecbc97eb-7c82-4150-8311-b2dae8344bf0",
      "name": "If3"
    },
    {
      "parameters": {
        "resource": "video",
        "operation": "upload",
        "title": "={{ $('Get Promt').first().json.Title }} | {{ $('Get Promt').first().json.Genre }} Music",
        "regionCode": "US",
        "categoryId": "10",
        "options": {
          "description": "={{ $('Get Promt').first().json.Description }}\n\n{{ $('Get Promt').first().json['Description Additional'] }}",
          "selfDeclaredMadeForKids": false,
          "tags": "={{ $('Get Promt').first().json.Tags }}"
        }
      },
      "type": "n8n-nodes-base.youTube",
      "typeVersion": 1,
      "position": [
        2940,
        920
      ],
      "id": "29493b49-cedd-4e0f-9fb6-1e9160686e07",
      "name": "YouTube",
      "credentials": {
        "youTubeOAuth2Api": {
          "id": "VqzKzucIuCm67lxQ",
          "name": "YouTube account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1U87CyDyvncf3Gbv5-GpyhwqOa1Lfckr0MAj-oysj92M",
          "mode": "list",
          "cachedResultName": "youtube music",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1U87CyDyvncf3Gbv5-GpyhwqOa1Lfckr0MAj-oysj92M/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Лист1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1U87CyDyvncf3Gbv5-GpyhwqOa1Lfckr0MAj-oysj92M/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "row_number": "={{ $('Get Promt').item.json.row_number }}",
            "Audio": "={{ $json.webContentLink }}",
            "Audio ID": "={{ $json.id }}"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "Genre",
              "displayName": "Genre",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Title",
              "displayName": "Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Description",
              "displayName": "Description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Tags",
              "displayName": "Tags",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Promt",
              "displayName": "Promt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Photo",
              "displayName": "Photo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Photo ID",
              "displayName": "Photo ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Audio",
              "displayName": "Audio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Audio ID",
              "displayName": "Audio ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Google Drive",
              "displayName": "Google Drive",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Youtube",
              "displayName": "Youtube",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "error",
              "displayName": "error",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        680,
        960
      ],
      "id": "5c41448b-5c16-4600-abbb-c51c9a0b75dc",
      "name": "Google Sheets Save Audio",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "9rj2VjbYgY0lGdyW",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1U87CyDyvncf3Gbv5-GpyhwqOa1Lfckr0MAj-oysj92M",
          "mode": "list",
          "cachedResultName": "youtube music",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1U87CyDyvncf3Gbv5-GpyhwqOa1Lfckr0MAj-oysj92M/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Лист1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1U87CyDyvncf3Gbv5-GpyhwqOa1Lfckr0MAj-oysj92M/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "row_number": "={{ $('Get Promt').item.json.row_number }}",
            "Photo": "={{ $json.webContentLink }}",
            "Photo ID": "={{ $json.id }}"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "Genre",
              "displayName": "Genre",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Title",
              "displayName": "Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Description",
              "displayName": "Description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Tags",
              "displayName": "Tags",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Promt",
              "displayName": "Promt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Photo",
              "displayName": "Photo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Photo ID",
              "displayName": "Photo ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Audio",
              "displayName": "Audio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Audio ID",
              "displayName": "Audio ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Google Drive",
              "displayName": "Google Drive",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Youtube",
              "displayName": "Youtube",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "error",
              "displayName": "error",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        2260,
        580
      ],
      "id": "9cce0077-9310-4a62-a094-d21101de655a",
      "name": "Google Sheets Save Photo",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "9rj2VjbYgY0lGdyW",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1U87CyDyvncf3Gbv5-GpyhwqOa1Lfckr0MAj-oysj92M",
          "mode": "list",
          "cachedResultName": "youtube music",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1U87CyDyvncf3Gbv5-GpyhwqOa1Lfckr0MAj-oysj92M/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Лист1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1U87CyDyvncf3Gbv5-GpyhwqOa1Lfckr0MAj-oysj92M/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "row_number": "={{ $('Get Promt').first().json.row_number }}",
            "Google Drive": "={{ $json.webContentLink }}",
            "Status": "ready"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "Genre",
              "displayName": "Genre",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Promt",
              "displayName": "Promt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Title",
              "displayName": "Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Description",
              "displayName": "Description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Tags",
              "displayName": "Tags",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Photo",
              "displayName": "Photo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Audio",
              "displayName": "Audio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Video",
              "displayName": "Video",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Youtube",
              "displayName": "Youtube",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "error",
              "displayName": "error",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Google Drive",
              "displayName": "Google Drive",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        3160,
        1120
      ],
      "id": "e9d56115-5446-4f60-9d82-a4110d92603c",
      "name": "Google Sheets Save Video",
      "retryOnFail": false,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "9rj2VjbYgY0lGdyW",
          "name": "Google Sheets account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "c3d327f4-7e37-4a55-b84c-05e801369ea8",
              "leftValue": "={{ $json.uploadId }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        3600,
        940
      ],
      "id": "9a1e3227-732b-47c2-b64a-21609a30b2b8",
      "name": "If4"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1U87CyDyvncf3Gbv5-GpyhwqOa1Lfckr0MAj-oysj92M",
          "mode": "list",
          "cachedResultName": "youtube music",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1U87CyDyvncf3Gbv5-GpyhwqOa1Lfckr0MAj-oysj92M/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Лист1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1U87CyDyvncf3Gbv5-GpyhwqOa1Lfckr0MAj-oysj92M/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "row_number": "={{ $('Get Promt').first().json.row_number }}",
            "Status": "uploaded",
            "error": "={{ $json.stdout ?? null }}",
            "Youtube": "=https://www.youtube.com/watch?v={{ $json.uploadId }}"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "Genre",
              "displayName": "Genre",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Promt",
              "displayName": "Promt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Title",
              "displayName": "Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Description",
              "displayName": "Description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Photo",
              "displayName": "Photo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Audio",
              "displayName": "Audio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Video",
              "displayName": "Video",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Youtube",
              "displayName": "Youtube",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "error",
              "displayName": "error",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        3840,
        920
      ],
      "id": "efb4b74e-a948-438c-a892-0b87e24afd56",
      "name": "Google Update Youtube",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "9rj2VjbYgY0lGdyW",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1U87CyDyvncf3Gbv5-GpyhwqOa1Lfckr0MAj-oysj92M",
          "mode": "list",
          "cachedResultName": "youtube music",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1U87CyDyvncf3Gbv5-GpyhwqOa1Lfckr0MAj-oysj92M/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Лист1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1U87CyDyvncf3Gbv5-GpyhwqOa1Lfckr0MAj-oysj92M/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "row_number": "={{ $('Get Promt').first().json.row_number }}",
            "Status": "error",
            "error": "={{ $json.stdout ?? null }}{{ $json.error ?? null }}"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "Genre",
              "displayName": "Genre",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Promt",
              "displayName": "Promt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Title",
              "displayName": "Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Description",
              "displayName": "Description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Photo",
              "displayName": "Photo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Audio",
              "displayName": "Audio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Video",
              "displayName": "Video",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Youtube",
              "displayName": "Youtube",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "error",
              "displayName": "error",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        3840,
        120
      ],
      "id": "7c0c4930-c7f3-498f-bbf0-2e6018ac0c8c",
      "name": "Google Update Status Error",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "9rj2VjbYgY0lGdyW",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 4
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        220,
        -120
      ],
      "id": "623c6ee7-226a-4c5c-8e33-078258e8cb00",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "command": "ffmpeg -loop 1 -i /data/image.png -i /data/audio.mp3 -c:v libx264 -c:a aac -shortest -pix_fmt yuv420p /data/output_video.mp4 > /dev/null 2>&1 &"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        1800,
        980
      ],
      "id": "6d0035cb-bd0a-4921-b93a-a4ad57d0a7d6",
      "name": "Generate Video"
    },
    {
      "parameters": {
        "command": "test -f /data/output_video.mp4 && echo \"exists\" || echo \"not exists\""
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        1800,
        1200
      ],
      "id": "e6c4f840-6aaf-489a-a23b-ef6798f8524a",
      "name": "Video Exists?"
    },
    {
      "parameters": {
        "fileSelector": "/data/output_video.mp4",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        2480,
        1200
      ],
      "id": "a1e57810-4ed6-49e2-b3a7-38984b14add7",
      "name": "Read Video from Disk"
    },
    {
      "parameters": {
        "command": "rm -f /data/output_video.mp4"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        3840,
        740
      ],
      "id": "e2feec75-2229-4a55-991b-73a5e734e013",
      "name": "Remove Video"
    },
    {
      "parameters": {
        "command": "rm -f /data/image.png"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        3840,
        580
      ],
      "id": "75d12bd8-de36-4eed-995d-f0ecb8d2e62a",
      "name": "Remove Image"
    },
    {
      "parameters": {
        "command": "rm -f /data/audio.mp3"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        3840,
        420
      ],
      "id": "e5259232-576e-4971-89a3-cf413c06d2b0",
      "name": "Remove Audio"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "d535b7ad-a809-4258-be7b-2332a9c48ef7",
              "leftValue": "={{ $('Get Promt').item.json.Audio }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        680,
        280
      ],
      "id": "ed653249-4037-470a-be29-a1dce5166c64",
      "name": "If5"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1U87CyDyvncf3Gbv5-GpyhwqOa1Lfckr0MAj-oysj92M",
          "mode": "list",
          "cachedResultName": "youtube music",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1U87CyDyvncf3Gbv5-GpyhwqOa1Lfckr0MAj-oysj92M/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Лист1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1U87CyDyvncf3Gbv5-GpyhwqOa1Lfckr0MAj-oysj92M/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "row_number": "={{ $json.row_number }}",
            "Status": "rendering"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "Genre",
              "displayName": "Genre",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Promt",
              "displayName": "Promt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Title",
              "displayName": "Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Description",
              "displayName": "Description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Photo",
              "displayName": "Photo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Audio",
              "displayName": "Audio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Video",
              "displayName": "Video",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Youtube",
              "displayName": "Youtube",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        460,
        280
      ],
      "id": "efa04085-b960-45ef-ac60-0a715739c804",
      "name": "Google Sheets Status Rendering",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "9rj2VjbYgY0lGdyW",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $('If').item.json['Audio ID'] }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        960,
        500
      ],
      "id": "89f68f11-8d6a-4af6-9859-315158f6f76c",
      "name": "Google Drive Get Audio",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "Vd56QZ752VIuXrGs",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "a7d7eea0-fac5-4abc-ad59-120877e877cb",
              "leftValue": "={{ $('Get Promt').item.json['Photo ID'] }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1040,
        840
      ],
      "id": "8b6a071c-4e3d-49a3-9e9c-fa8c22782bc6",
      "name": "If6"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Get Promt').item.json['Photo ID'] }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1200,
        500
      ],
      "id": "b23162c3-22ab-42c7-8cff-7b72adc6e7c6",
      "name": "Google Drive Get Photo",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "Vd56QZ752VIuXrGs",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "name": "={{ $('Get Promt').first().json.Title ?? '' }}_{{$now.format('yyyy-MM-dd')}}.mp4",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1cdkRvRwCQph_gNW-d8VxEZQ1pXkMUEop",
          "mode": "list",
          "cachedResultName": "videos",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1cdkRvRwCQph_gNW-d8VxEZQ1pXkMUEop"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        2940,
        1120
      ],
      "id": "e42c346e-c180-4885-8d55-19350b12a717",
      "name": "Google Drive Upload Video",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "Vd56QZ752VIuXrGs",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0118b21b-01e6-4b7e-b41a-41b43d827f32",
              "name": "error",
              "value": "Generate Audio error",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        960,
        240
      ],
      "id": "ff2107fa-b4f5-4f4a-a6f9-4e51a17e575a",
      "name": "Set error"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        3380,
        940
      ],
      "id": "8b19804d-b238-488e-838d-9fa75210818c",
      "name": "Merge"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        2420,
        580
      ],
      "id": "fccf2b9d-4db7-46d9-a0b2-121f3c256205",
      "name": "Merge1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        860,
        840
      ],
      "id": "fb63a1f6-286d-48fe-9d20-52741dd7aad1",
      "name": "Merge2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ec3cff73-2e32-47b1-a596-6faac6015763",
              "name": "error",
              "value": "file not exists",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3100,
        660
      ],
      "id": "b2340a3f-9ecc-438d-8200-32e0b1186faf",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "content": "## Generate or get audio",
        "height": 1380,
        "width": 1220
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        120,
        -200
      ],
      "typeVersion": 1,
      "id": "a80287db-6984-4801-a080-bae801ccd5f3",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Generate or get image",
        "height": 960,
        "width": 1040,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1700,
        -180
      ],
      "typeVersion": 1,
      "id": "acc04f67-dc04-4d12-9ea5-37351ae161f7",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## Generate Video",
        "height": 500,
        "width": 1060,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1700,
        900
      ],
      "typeVersion": 1,
      "id": "c09d8e85-b8e3-4cf7-919c-b105d776ba61",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## Upload on Youtube and save on Google Drive",
        "height": 560,
        "width": 640
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2900,
        840
      ],
      "typeVersion": 1,
      "id": "461da406-185d-4b7c-b683-a0db447a9238",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "## Remove temporary files",
        "height": 560,
        "width": 320,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3800,
        340
      ],
      "typeVersion": 1,
      "id": "a0b350a8-a8da-423c-b8fd-9f52de3a57d1",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "amount": 2,
        "unit": "minutes"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2260,
        980
      ],
      "id": "8ef4f8e2-5ba6-4dd2-a5b5-e7d40b4330d9",
      "name": "Wait 2 min",
      "webhookId": "dff4388d-8c8b-4c22-8703-85709375ad23"
    },
    {
      "parameters": {
        "content": "# 🔗 Let's connect [Linkedin](https://www.linkedin.com/in/evgeniiorel)\n\n# 🙏 Subscribe - https://www.youtube.com/playlist?list=PLSZa63BQV7qity1XSu-9C2Wx7GxQ7qLZq\n\n# 📑 Copy Google Sheets - https://docs.google.com/spreadsheets/d/1SCr4MjagHYOYQezvTKFeIwgJK1kB1VnE71-S3NGrklo/edit?usp=sharing\n\n# Music generator - [topmediai.com](https://www.topmediai.com/invite-register/?referrer=QxtGAQVRRUpQRm9YVF1UU0psD11DX0MBAAUHBwMBABIUG0YBBVFFSlBGb1BcUV9aGglEXQsACl5cQ19EU1JwV1VYXQhNV1hVFxgSR1RWU0RKVhRmDwQMVRcNFBFL)\n\n# Image generator - [PiAPI](https://piapi.ai/workspace?via=evgen)\n",
        "height": 680,
        "width": 1040,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1700,
        -900
      ],
      "typeVersion": 1,
      "id": "b4effeb6-e677-4f57-9ce5-1671bdac0a23",
      "name": "Sticky Note6"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Get Promt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Generate Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Generate Image": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Check Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Status": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Google Update Status Error",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Image",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Audio": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Image": {
      "main": [
        [
          {
            "node": "Write Image",
            "type": "main",
            "index": 0
          },
          {
            "node": "Google Drive Save Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write Image": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Get Promt": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Google Sheets Status Rendering",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Get Audio",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Audio": {
      "main": [
        [
          {
            "node": "Google Drive Save Audio",
            "type": "main",
            "index": 0
          },
          {
            "node": "Write Audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive Save Audio": {
      "main": [
        [
          {
            "node": "Google Sheets Save Audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write Audio": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "Wait 2 min",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Google Update Status Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If3": {
      "main": [
        [
          {
            "node": "Read Video from Disk",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive Save Image": {
      "main": [
        [
          {
            "node": "Google Sheets Save Photo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "YouTube": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If4": {
      "main": [
        [
          {
            "node": "Google Update Youtube",
            "type": "main",
            "index": 0
          },
          {
            "node": "Remove Image",
            "type": "main",
            "index": 0
          },
          {
            "node": "Remove Audio",
            "type": "main",
            "index": 0
          },
          {
            "node": "Remove Video",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Google Update Status Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get Promt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Video": {
      "main": [
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Video Exists?": {
      "main": [
        [
          {
            "node": "If3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Video from Disk": {
      "main": [
        [
          {
            "node": "Google Drive Upload Video",
            "type": "main",
            "index": 0
          },
          {
            "node": "YouTube",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If5": {
      "main": [
        [
          {
            "node": "Generate Audio",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Google Drive Get Audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets Status Rendering": {
      "main": [
        [
          {
            "node": "If5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive Get Audio": {
      "main": [
        [
          {
            "node": "Write Audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If6": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Google Drive Get Photo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive Get Photo": {
      "main": [
        [
          {
            "node": "Write Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive Upload Video": {
      "main": [
        [
          {
            "node": "Google Sheets Save Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set error": {
      "main": [
        [
          {
            "node": "Google Update Status Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets Save Audio": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "If4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets Save Video": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Google Sheets Save Photo": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Generate Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge2": {
      "main": [
        [
          {
            "node": "If6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Google Update Status Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 2 min": {
      "main": [
        [
          {
            "node": "Video Exists?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "timezone": "America/Los_Angeles",
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "bpAG4MzmGehPEDDu"
  },
  "versionId": "2732d3d6-a888-4277-8c0a-e75eda1bd25a",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "283e62a5552fbf2a1b889946175b1d21553f1f6e7adbd8e81e3be8969731db9b"
  },
  "id": "F9ws3zANThu2I8R0",
  "tags": []
}