AI_Summarization/The_Workflow_Google_Maps_to_GPT-4_to_Airtable_to_Gmail.json
{
  "id": "QxA84PjVLxwyv6jP",
  "meta": {
    "instanceId": "2698fb90c872341655d36c9377b0dd8ca572ac3c6ee494b27ca6ac82ec175b2a"
  },
  "name": "Automate Local Lead Generation with Google Maps, GPT-4 & Airtable to Gmail",
  "tags": [],
  "nodes": [
    {
      "id": "81c2c47f-3792-462e-bbfc-c2a1024faa16",
      "name": "When clicking ‘Execute workflow’",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [
        40,
        1520
      ],
      "parameters": {},
      "typeVersion": 1
    },
    {
      "id": "a8ae3851-1bc9-4b62-a6c6-ec24bf791f45",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        0
      ],
      "parameters": {
        "width": 480,
        "height": 1680,
        "content": "What if you could **extract every email**, phone number, and website from a specific area in just a few clicks?\n\nIn this workflow, we’ll scrape Google Maps and automatically **organize the data** into an Airtable base.\n\nWe’ll use real estate in Paris as an example, but it works **for any business** — from local therapists to inflatable pool dealers.\n\n## Step 1 – Launch the Google Maps Scraper\n\nStart with a When clicking Execute workflow trigger to launch the flow manually.\n\nThen, **add an HTTP Request** node with the method set to POST.\n\n👉 Head over to Apify: Google Maps Extractor\n\nOn the page: [https://apify.com/compass/google-maps-extractor](https://apify.com/compass/google-maps-extractor)\n\nEnter your business keyword (e.g., real estate agency, hairdresser, restaurant)\n\nSet the location you want to target (e.g., Paris, France)\n\nChoose how many results to fetch (e.g., 50)\n\nOptionally, use filters (only places with a website, by category, etc.)\n\n⚠️ No matter your industry, this works — just adapt the keyword and location.\n\nOnce everything is filled in:\n\nClick Run to test.\n\nThen, go to the top right → click on API.\n\nSelect the API endpoints tab.\n\nChoose Run Actor synchronously and get dataset items.\n\nCopy the URL and paste it into your HTTP Request (in the URL field).\n\nThen enable:\n\n✅ Body Content Type → JSON\n✅ Specify Body Using JSON`\n\nGo back to Apify, click on the JSON tab, copy the entire code, and paste it into the JSON body field of your HTTP Request.\n\n\nAt this point, if you run your workflow, you should see a structured output similar to this:\n\ntitle  \nsubTitle  \nprice  \ncategoryName  \naddress  \nneighborhood  \nstreet  \ncity  \npostalCode\n........\n"
      },
      "typeVersion": 1
    },
    {
      "id": "99736afa-8c3b-41b9-bf22-7e04b2aa04c6",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        580,
        760
      ],
      "parameters": {
        "color": 2,
        "width": 220,
        "height": 920,
        "content": "## Step 2 – Clean and structure the data\n\nOnce the raw data is fetched from Apify, we clean it up using the Edit Fields node.\n\nIn this step, we manually select and rename the fields we want to keep:\n\nTitle → {{ $json.title }}\n\nAddress → {{ $json.address }}\n\nWebsite → {{ $json.website }}\n\nPhone → {{ $json.phone }}\n\nURL → {{ $json.url }}*\n\nThis node lets us keep only the essentials in a clean format, ready for the next steps.\nOn the right: a clear and usable table, easy to work with.\n\n"
      },
      "typeVersion": 1
    },
    {
      "id": "639156da-d94c-4e27-a55f-fe636b99d727",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        880,
        840
      ],
      "parameters": {
        "color": 3,
        "width": 220,
        "height": 840,
        "content": "## Step 3 – Process Each Lead Individually (Loop Over Items)\n\nNow that our data is clean (see step 2), we’ll go through it item by item to handle each contact individually.\n\nThe Loop Over Items node does exactly that:\n\nit takes each row from the table (each contact pulled from Apify) and runs the next steps on them, one by one.\n\n👉 Just set a Batch Size of 20 (or more, depending on your needs).\n\nNothing tricky here, but this step is essential to keep the flow dynamic and scalable.\n"
      },
      "typeVersion": 1
    },
    {
      "id": "07b4bef0-2e76-4cba-a0ce-8040c5382bab",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1500,
        880
      ],
      "parameters": {
        "color": 4,
        "height": 800,
        "content": "## Step 4 – Extract Website URLs for Scraping Edit Field \n\nAfter looping through each contact one by one (thanks to Loop Over Items), we're refining the data a bit more.\n\nThis time, we only want to keep the website.\n\nWe use the Edit Fields node again, in Manual Mapping mode, with just:\n\nWebsite → {{ $json.website }}\n\nThe result on the right? A clean list with only the URLs extracted from Google Maps.\n\n🔧 This simple step helps isolate the websites so we can scrape them one by one in the next part of the flow.\n"
      },
      "typeVersion": 1
    },
    {
      "id": "ac2184fc-df0c-4c76-88ba-39f18bd977e1",
      "name": "Sticky Note4",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1200,
        560
      ],
      "parameters": {
        "color": 4,
        "width": 220,
        "height": 1120,
        "content": "## Step 5 – Scrape Each Website with an HTTP Request\n\nLet’s continue the flow: in the previous step, we isolated the websites into a clean list. Now, we’re going to send a request to each URL to fetch the content of the site.\n\n➡️ To do this, we add an HTTP Request node, using the GET method, and set the URL as:\n\n{{ $json.website }} This value comes from the previous Edit Fields input\n\nThis node will simply “visit” each website automatically and return the raw HTML code (as shown on the right).\n\n📄 That’s the material we’ll use in the next step to extract email addresses (and any other useful info).\n\nWe’re not reading this code manually — we’ll scan through it line by line to detect patterns that matter to us.\n\nThis is a technical but crucial step: it’s how we turn a URL into real, usable data. \n"
      },
      "typeVersion": 1
    },
    {
      "id": "c3e61b79-91a8-439d-b0be-84e63c2bb837",
      "name": "Sticky Note5",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1840,
        660
      ],
      "parameters": {
        "color": 5,
        "width": 360,
        "height": 1020,
        "content": "## Step 6 – Extract the Email with GPT\n\nNow that we've retrieved all the raw HTML from the websites using the HTTP Request node, it's time to analyze it.\n\n💡 Goal: detect the most relevant email address on each site (ideally the main contact or owner).\n\n👉 To do that, we’ll use an OpenAI node (Message a Model). Here’s how to configure it:\n\n⚙️ Key Parameters:\nModel: GPT-4-1-MINI (or any GPT-4+ model available)\n\nOperation: Message a Model\n\nResource: Text\n\nSimplify Output: ON\n\n**Prompt (message you provide):**\n\nLook at this website content and extract only the email I can contact this business. In your output, provide only the email and nothing else. Ideally, this email should be of the business owner, so if you have 2 or more options, try for most authoritative one. If you don't find any email, output 'Null'.\n\nExemplary output of yours:\n\nname@examplewebsite.com\n\n{{ $json.data }} \n"
      },
      "typeVersion": 1
    },
    {
      "id": "5232a658-1878-47d5-a258-69b0e564f8b8",
      "name": "Sticky Note6",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2300,
        280
      ],
      "parameters": {
        "color": 6,
        "width": 300,
        "height": 1420,
        "content": "## Step 7 – Save the Data in Airtable\n\nOnce we’ve collected everything — the business name, address, phone number, website… \n\nand most importantly the email extracted via ChatGPT — we need to store all of this somewhere clean and organized.\n\n👉 The best place in this workflow is Airtable.\n\n📦 Why Airtable?\nBecause it allows you to:\n\nEasily view and sort the leads you've scraped\n\nFilter, tag, or enrich them later\n\nAnd most importantly… reuse them in future automations\n\n⚙️ What we're doing here\n\nWe’re adding an Airtable → Create Record node to insert each lead into our database.\n\nIn this node, we manually map each field with the data we’ve collected earlier in the workflow. Here’s how it looks:\n\nTitle → the name of the business\n→ {{ $('Edit Fields').item.json.Title }}\n\nStreet → the full address\n→ {{ $('Edit Fields').item.json.Address }}\n\nWebsite → the company’s website URL\n→ {{ $('Edit Fields').item.json.Website }}\n\nPhone Number → the phone number\n→ {{ $('Edit Fields').item.json.Phone }}\n\nEmail → the email found by ChatGPT\n→ {{ $json.message.content }}\n\nURL → the full Google Maps link\n→ {{ $('Edit Fields').item.json.URL }}\n\n🧠 Each of these values comes from previous steps (Edit Fields, HTTP Request, OpenAI), and everything is neatly stored in Airtable — ready to be reused, filtered, or exported.\n"
      },
      "typeVersion": 1
    },
    {
      "id": "b1e51a79-059c-4b14-8b51-79896a100211",
      "name": "Sticky Note7",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2700,
        520
      ],
      "parameters": {
        "color": 6,
        "width": 300,
        "height": 1180,
        "content": "## Step 8 – Send Personalized Email via Gmail (The Final Touch)\n\nTo finalize the workflow, **add a Gmail → Send Email** node after your Airtable node.\n\nHere’s how to configure this node using the data pulled directly from your Airtable base (from the previous step):\n\nRecipient (To): Retrieve the email stored in Airtable ({{ $json.fields.Email }}).\n\nSubject: Use the company name stored in Airtable ({{ $json.fields.Title }}) to personalize the subject line.\n\nBody: You can include several fields directly from Airtable, such as:\n\nCompany name: \n{{ $json.fields.Title }}\n\nWebsite URL: \n{{ $json.fields.Website }}\n\nPhone number: \n{{ $json.fields[\"Phone Number\"] }}\n\nLink to the Google Maps listing: \n{{ $json.fields.URL }}\n\nAll of this data is available in Airtable because it was automatically inserted in the previous step (Step 7). \n\nThis ensures that each email sent is fully personalized and based on clear, reliable, and structured information.\n"
      },
      "typeVersion": 1
    },
    {
      "id": "a94d54e1-0b8d-4583-a576-0af01c72bdeb",
      "name": "Apify Google Maps Scraper",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        260,
        1520
      ],
      "parameters": {
        "url": "API URL APIFY",
        "method": "POST",
        "options": {},
        "jsonBody": "{\n    \"categoryFilterWords\": [\n        \"real estate agency\"\n    ],\n    \"city\": \"Paris\",\n    \"countryCode\": \"fr\",\n    \"language\": \"en\",\n    \"locationQuery\": \"France, Paris\",\n    \"maxCrawledPlacesPerSearch\": 50,\n    \"postalCode\": \"75000\",\n    \"searchStringsArray\": [\n        \"agence immobilière\"\n    ],\n    \"skipClosedPlaces\": false\n}",
        "sendBody": true,
        "specifyBody": "json"
      },
      "typeVersion": 4.2
    },
    {
      "id": "c6a23564-94d2-4184-a42b-fc9f4af1b100",
      "name": "Clean Google Maps Lead Data",
      "type": "n8n-nodes-base.set",
      "position": [
        640,
        1520
      ],
      "parameters": {
        "options": {},
        "assignments": {
          "assignments": [
            {
              "id": "e0ee1e00-da28-49c7-b8ad-b1cf983b1004",
              "name": "Title",
              "type": "string",
              "value": "={{ $json.title }}"
            },
            {
              "id": "ac43f911-1a98-4b12-9c95-b3836e13788d",
              "name": "Address",
              "type": "string",
              "value": "={{ $json.address }}"
            },
            {
              "id": "bdc01304-c710-4aeb-99e5-75924e33b0c6",
              "name": "Website",
              "type": "string",
              "value": "={{ $json.website }}"
            },
            {
              "id": "024a396b-a476-4a72-a39c-3a97e417775c",
              "name": "Phone",
              "type": "string",
              "value": "={{ $json.phone }}"
            },
            {
              "id": "f6f4c12d-401d-4596-8cd4-f1d06e68ecd1",
              "name": "URL",
              "type": "string",
              "value": "={{ $json.url }}"
            }
          ]
        }
      },
      "typeVersion": 3.4
    },
    {
      "id": "cece28f1-3bd2-4533-a6f5-f6d8870a14ac",
      "name": "Extract Website URLs for Scraping",
      "type": "n8n-nodes-base.set",
      "position": [
        1260,
        1540
      ],
      "parameters": {
        "options": {},
        "assignments": {
          "assignments": [
            {
              "id": "ccc11066-fad4-4931-acf6-6c45e5e7b117",
              "name": "Website",
              "type": "string",
              "value": "={{ $json.Website }}"
            }
          ]
        }
      },
      "typeVersion": 3.4
    },
    {
      "id": "648cb018-dd1d-4654-a841-064e23d40f42",
      "name": "Process Each Lead Individually",
      "type": "n8n-nodes-base.splitInBatches",
      "position": [
        940,
        1520
      ],
      "parameters": {
        "options": {},
        "batchSize": 20
      },
      "typeVersion": 3
    },
    {
      "id": "56d78fa9-9427-4258-97c0-3c11354ff26d",
      "name": "Fetch Raw HTML from Business Websites",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        1580,
        1540
      ],
      "parameters": {
        "url": "={{ $json.Website }}",
        "options": {}
      },
      "typeVersion": 4.2
    },
    {
      "id": "9d160a79-6de6-495b-9bb7-2c5a1538b532",
      "name": "Extract Business Email from Website with GPT-4",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "position": [
        1920,
        1540
      ],
      "parameters": {
        "modelId": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini",
          "cachedResultName": "GPT-4.1-MINI"
        },
        "options": {},
        "messages": {
          "values": [
            {
              "content": "=Look at this website content and extract only the email I can contact this business. In your output, provide only the email and nothing else. Ideally, this email should be of the business owner, so if you have 2 or more options, try for most authoritative one. If you don't find any email, output 'Null'.\n\nExemplary output of yours:\n\nname@examplewebsite.com\n\n{{ $json.data }}"
            }
          ]
        }
      },
      "typeVersion": 1.8
    },
    {
      "id": "2b93c91a-5a22-4880-9461-98f3f8f3e2e3",
      "name": "Send Personalized Email via Gmail",
      "type": "n8n-nodes-base.gmail",
      "position": [
        2800,
        1540
      ],
      "webhookId": "5536d486-ce2e-4bdb-994e-078d12bc081e",
      "parameters": {
        "sendTo": "={{ $json.fields.Email }}",
        "message": "=Hi, I came across your website {{ $json.fields.Website }} in {{ $('Apify Google Maps Scraper').item.json.city }} Just wanted to share a quick method that helps some {{ $('Apify Google Maps Scraper').item.json.categoryName }} professionals generate 15 to 30 qualified leads per month through Google Maps — no ads, no complicated CRM.\n\nIf that sounds interesting, I’d be happy to show you how it works.\n\nHave a great day,  \nBaptiste Fort  ",
        "options": {},
        "subject": "=Quick idea for  {{ $json.fields.Title }}",
        "authentication": "serviceAccount"
      },
      "credentials": {
        "googleApi": {
          "id": "pN92UW9grckxUHFS",
          "name": "Gmail account 2"
        }
      },
      "typeVersion": 2.1
    },
    {
      "id": "4dada73a-259e-46a2-9841-ac2782041d58",
      "name": "Save Leads to Airtable Database",
      "type": "n8n-nodes-base.airtable",
      "position": [
        2400,
        1540
      ],
      "parameters": {
        "base": {
          "__rl": true,
          "mode": "list",
          "value": "app7nzaQOYoq0cF1n",
          "cachedResultUrl": "https://airtable.com/app7nzaQOYoq0cF1n",
          "cachedResultName": "GOOGLE MAP SCRAPPING"
        },
        "table": {
          "__rl": true,
          "mode": "list",
          "value": "tblJIrBU19hfFYdL9",
          "cachedResultUrl": "https://airtable.com/app7nzaQOYoq0cF1n/tblJIrBU19hfFYdL9",
          "cachedResultName": "Data"
        },
        "columns": {
          "value": {
            "URL": "={{ $('Clean Google Maps Lead Data').item.json.URL }}",
            "Email": "={{ $json.message.content }}",
            "Title": "={{ $('Clean Google Maps Lead Data').item.json.Title }}",
            "Street": "={{ $('Clean Google Maps Lead Data').item.json.Address }}",
            "Website": "={{ $('Clean Google Maps Lead Data').item.json.Website }}",
            "Phone Number": "={{ $('Clean Google Maps Lead Data').item.json.Phone }}"
          },
          "schema": [
            {
              "id": "Title",
              "type": "string",
              "display": true,
              "removed": false,
              "readOnly": false,
              "required": false,
              "displayName": "Title",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Street",
              "type": "string",
              "display": true,
              "removed": false,
              "readOnly": false,
              "required": false,
              "displayName": "Street",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Website",
              "type": "string",
              "display": true,
              "removed": false,
              "readOnly": false,
              "required": false,
              "displayName": "Website",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Phone Number",
              "type": "string",
              "display": true,
              "removed": false,
              "readOnly": false,
              "required": false,
              "displayName": "Phone Number",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "type": "string",
              "display": true,
              "removed": false,
              "readOnly": false,
              "required": false,
              "displayName": "Email",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "URL",
              "type": "string",
              "display": true,
              "removed": false,
              "readOnly": false,
              "required": false,
              "displayName": "URL",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            }
          ],
          "mappingMode": "defineBelow",
          "matchingColumns": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {},
        "operation": "create"
      },
      "typeVersion": 2.1
    }
  ],
  "active": false,
  "pinData": {
    "Extract Business Email from Website with GPT-4": [
      {
        "json": {
          "code": 1,
          "name": "First item"
        }
      },
      {
        "json": {
          "code": 2,
          "name": "Second item"
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "4648927d-6633-4e5f-a44c-602d35b6e169",
  "connections": {
    "Apify Google Maps Scraper": {
      "main": [
        [
          {
            "node": "Clean Google Maps Lead Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clean Google Maps Lead Data": {
      "main": [
        [
          {
            "node": "Process Each Lead Individually",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Each Lead Individually": {
      "main": [
        [],
        [
          {
            "node": "Extract Website URLs for Scraping",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Leads to Airtable Database": {
      "main": [
        [
          {
            "node": "Send Personalized Email via Gmail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Website URLs for Scraping": {
      "main": [
        [
          {
            "node": "Fetch Raw HTML from Business Websites",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Apify Google Maps Scraper",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Raw HTML from Business Websites": {
      "main": [
        [
          {
            "node": "Extract Business Email from Website with GPT-4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Business Email from Website with GPT-4": {
      "main": [
        [
          {
            "node": "Save Leads to Airtable Database",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}