AI/AI_Agent_that_updates_its_own_rules_to_modify_behavior.json
{
  "meta": {
    "instanceId": "59761dc282918b63de68f8544bab8098be77f63f00c94bc04dd5d71886f7d2e1",
    "templateCredsSetupCompleted": true
  },
  "nodes": [
    {
      "id": "c7c148ea-7896-4e51-b360-6f7fc59ceda8",
      "name": "Ultimate Assistant1",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        1120,
        -80
      ],
      "parameters": {
        "text": "={{ $json.body.message }}",
        "options": {
          "systemMessage": "=# Overview\nYou are the ultimate personal assistant. Your job is to figure out the right tool to use, if applicable to the user's prompt.\n\n## Rules\n{{ \"- \" + $json.rules.join(\"\\n- \") }}\n\n## Rule Database Schema: \nTable name: datos_agent_rules\n[\n  {\n    \"column_name\": \"id\",\n    \"data_type\": \"bigint\",\n    \"character_maximum_length\": null,\n    \"is_nullable\": \"NO\",\n    \"column_default\": null\n  },\n  {\n    \"column_name\": \"created_at\",\n    \"data_type\": \"timestamp with time zone\",\n    \"character_maximum_length\": null,\n    \"is_nullable\": \"NO\",\n    \"column_default\": \"now()\"\n  },\n  {\n    \"column_name\": \"rule_text\",\n    \"data_type\": \"text\",\n    \"character_maximum_length\": null,\n    \"is_nullable\": \"YES\",\n    \"column_default\": null\n  },\n  {\n    \"column_name\": \"agent\",\n    \"data_type\": \"text\",\n    \"character_maximum_length\": null,\n    \"is_nullable\": \"YES\",\n    \"column_default\": null\n  }\n]\n\n## Final Context:\n- Here is the current date/time: {{ $now.toISO() }}\n- UNIX timestamp for current date/time: {{ $now.toMillis() }}\n- The user's timezone is PST\n- The user's name is Giovanni Segar (or Gio for short)",
          "returnIntermediateSteps": true
        },
        "promptType": "define"
      },
      "typeVersion": 1.7
    },
    {
      "id": "7f623864-efc7-4873-8a94-becaa4b507da",
      "name": "Chat History1",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "position": [
        1180,
        180
      ],
      "parameters": {
        "contextWindowLength": 10
      },
      "typeVersion": 1.3
    },
    {
      "id": "b3bfd8ea-511b-407e-9f40-2c33115d8521",
      "name": "Anthropic Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "position": [
        1000,
        180
      ],
      "parameters": {
        "model": "=claude-sonnet-4-20250514",
        "options": {
          "temperature": 0.2
        }
      },
      "credentials": {
        "anthropicApi": {
          "id": "9n2PuVH0HamhCE46",
          "name": "Anthropic account"
        }
      },
      "typeVersion": 1.2
    },
    {
      "id": "90557906-3244-4dd0-b511-f20d64380183",
      "name": "Get rules from database",
      "type": "n8n-nodes-base.postgres",
      "position": [
        460,
        -200
      ],
      "parameters": {
        "query": "SELECT rule_text FROM datos_agent_rules WHERE agent = 'TestAgent';",
        "options": {},
        "operation": "executeQuery"
      },
      "credentials": {
        "postgres": {
          "id": "1UmU4low0qyDbv99",
          "name": "Datos Postgres"
        }
      },
      "typeVersion": 2.6
    },
    {
      "id": "1b462765-5889-4688-af7d-3cebd51efa05",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "position": [
        900,
        -80
      ],
      "parameters": {
        "mode": "combine",
        "options": {},
        "combineBy": "combineByPosition"
      },
      "typeVersion": 3.1
    },
    {
      "id": "7d3a71f9-79f5-4b4b-920c-fc37f148602c",
      "name": "Aggregate",
      "type": "n8n-nodes-base.aggregate",
      "position": [
        680,
        -200
      ],
      "parameters": {
        "options": {},
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "renameField": true,
              "outputFieldName": "rules",
              "fieldToAggregate": "rule_text"
            }
          ]
        }
      },
      "typeVersion": 1
    },
    {
      "id": "a5df493e-27ba-485c-a14b-ad3217d3232f",
      "name": "Insert rule into database",
      "type": "n8n-nodes-base.postgresTool",
      "position": [
        1560,
        160
      ],
      "parameters": {
        "table": {
          "__rl": true,
          "mode": "list",
          "value": "datos_agent_rules",
          "cachedResultName": "datos_agent_rules"
        },
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "columns": {
          "value": {
            "agent": "TestAgent",
            "rule_text": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('rule_text', `Write a simple reminder for the future based on the user's instructions. `, 'string') }}"
          },
          "schema": [
            {
              "id": "id",
              "type": "number",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "id",
              "defaultMatch": true,
              "canBeUsedToMatch": true
            },
            {
              "id": "created_at",
              "type": "dateTime",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "created_at",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "rule_text",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "rule_text",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "agent",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "agent",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            }
          ],
          "mappingMode": "defineBelow",
          "matchingColumns": [
            "id"
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {},
        "descriptionType": "manual",
        "toolDescription": "This should be used when the user corrects you in some way to add a rule that will be included in the future prompts. This can be specific to a certain client or can be a general rule for how to do things. Make sure to let the user know if you added a rule."
      },
      "credentials": {
        "postgres": {
          "id": "1UmU4low0qyDbv99",
          "name": "Datos Postgres"
        }
      },
      "typeVersion": 2.6
    },
    {
      "id": "6382b5f0-2aab-49ee-ad89-bc329e24d6e4",
      "name": "Execute query on rule database",
      "type": "n8n-nodes-base.postgresTool",
      "position": [
        1740,
        160
      ],
      "parameters": {
        "query": "{{ $fromAI('valid_postgres_sql_query', 'Write any valid SQL query for the Postgres rule database.', 'string') }}",
        "options": {},
        "operation": "executeQuery",
        "descriptionType": "manual",
        "toolDescription": "Use this to get rules and their IDs for modification, delete items, add multiple items, or any other operation not covered by the simple insert tool"
      },
      "credentials": {
        "postgres": {
          "id": "1UmU4low0qyDbv99",
          "name": "Datos Postgres"
        }
      },
      "typeVersion": 2.6
    },
    {
      "id": "3c8d3c66-bddf-47ab-85ca-a4146a6b59cb",
      "name": "When chat message received",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "position": [
        180,
        -60
      ],
      "webhookId": "8f2b6d22-043e-4dab-b39a-44a8bbef4694",
      "parameters": {
        "options": {}
      },
      "typeVersion": 1.1
    },
    {
      "id": "5a62af2c-6952-4a7d-b945-cf5c1c437aaf",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -460,
        180
      ],
      "parameters": {
        "width": 1000,
        "height": 760,
        "content": "## Summary of agent\nThis agent can write and rewrite its own rules, allowing you to mold its behavior. It receives rules from a database as system instructions and has tools to create, edit, or delete them. This is a great baseline for new agent builds.\n\n## How to start using it\n\n### Option 1: With a Postgres database (e.g., Supabase)\n1.  **Supabase Schema:** Create a table (e.g., `agent_rules`) with the following columns:\n    *   `id`: `bigint` (Primary Key, auto-incrementing)\n    *   `created_at`: `timestamp with time zone` (Default: `now()`)\n    *   `rule_text`: `text`\n    *   `agent`: `text`\n2.  **Workflow Updates:**\n    *   Update the **Postgres credentials** in the \"Get rules from database,\" \"Insert rule into database,\" and \"Execute query on rule database\" nodes.\n    *   Update the `agent` value (currently 'TestAgent') in the \"Get rules from database\" and \"Insert rule into database\" nodes if you want a different agent name.\n    *   Update the **Anthropic API credentials**.\n\n### Option 2: With Google Sheets\n1.  **Google Sheet Setup:** Create a Google Sheet with columns for `rule_text` and `agent`.\n2.  **Workflow Updates:**\n    *   Example Google Sheets nodes are included. You will need to:\n        *   Connect your **Google Sheets credentials**.\n        *   Select your Google Sheet (with `rule_text` and `agent` columns) in all relevant Google Sheets nodes.\n        *   Replace the existing Postgres nodes (\"Get rules from database\", \"Insert rule into database\", \"Execute query on rule database\") with the configured Google Sheets nodes.\n    *   Update the `agent` value (currently 'TestAgent') in the Google Sheets nodes if you want a different agent name.\n    *   Update the **Anthropic API credentials**.\n    *   **Agent Instructions:** Update the agent's system message and remove the database schema section as it is no longer relevant"
      },
      "typeVersion": 1
    },
    {
      "id": "d4bb6943-7806-4630-9991-8dd5a177352c",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        700,
        400
      ],
      "parameters": {
        "color": 4,
        "width": 1240,
        "height": 540,
        "content": "## Prefer Google Sheets? Here are nodes to replace Postgres"
      },
      "typeVersion": 1
    },
    {
      "id": "a90397f4-b7c7-4477-84d1-7466d0e700bf",
      "name": "Get rules from sheets",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        780,
        500
      ],
      "parameters": {
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": ""
        }
      },
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "12",
          "name": "Google Sheets account"
        }
      },
      "typeVersion": 4.6
    },
    {
      "id": "d7e5e896-5479-4ea5-817b-7e8b8763a926",
      "name": "Add rule to sheet",
      "type": "n8n-nodes-base.googleSheetsTool",
      "position": [
        1040,
        520
      ],
      "parameters": {
        "operation": "append",
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "descriptionType": "manual",
        "toolDescription": "Use this to add rules to the google sheet"
      },
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "12",
          "name": "Google Sheets account"
        }
      },
      "typeVersion": 4.6
    },
    {
      "id": "6abf1348-2822-426b-ac6a-9c0cb439e081",
      "name": "Update rule in sheet",
      "type": "n8n-nodes-base.googleSheetsTool",
      "position": [
        1220,
        520
      ],
      "parameters": {
        "operation": "update",
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "descriptionType": "manual",
        "toolDescription": "Use this to update an existing rule in the sheet"
      },
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "12",
          "name": "Google Sheets account"
        }
      },
      "typeVersion": 4.6
    },
    {
      "id": "53b15f2a-1f33-4d1c-b270-f687aa1f0e85",
      "name": "Delete rule in sheet",
      "type": "n8n-nodes-base.googleSheetsTool",
      "position": [
        1360,
        520
      ],
      "parameters": {
        "operation": "delete",
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "descriptionType": "manual",
        "toolDescription": "Use this to delete an existing rule in the sheet"
      },
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "12",
          "name": "Google Sheets account"
        }
      },
      "typeVersion": 4.6
    }
  ],
  "pinData": {},
  "connections": {
    "Merge": {
      "main": [
        [
          {
            "node": "Ultimate Assistant1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chat History1": {
      "ai_memory": [
        [
          {
            "node": "Ultimate Assistant1",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Ultimate Assistant1": {
      "main": [
        []
      ]
    },
    "Anthropic Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Ultimate Assistant1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Get rules from database": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert rule into database": {
      "ai_tool": [
        [
          {
            "node": "Ultimate Assistant1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          },
          {
            "node": "Get rules from database",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute query on rule database": {
      "ai_tool": [
        [
          {
            "node": "Ultimate Assistant1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  }
}